@media (max-width: 428px) {
  header {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  
  nav button {
    margin-top: 20px;
  }
  
  .left-content {
    width: 100%;
  }
  
  .content img {
    bottom: -450px;
    width: 150%;
  }
  
  .left-content h2 {
    font-size: 1.5rem;
  }
  .left-content h1 {
    font-size: 6rem;
  }
  body {
    overflow: visible;
  }
  .content {
    flex-direction: column;
    align-items: center;
    margin: 50px 3px;
  }
  
  .social-section {
    bottom: -550px;
  }
}

@media (min-width: 429px) and (max-width: 1279px) {
  header {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  
  nav button {
    margin-top: 20px;
  }
  
  .left-content {
    width: 100%;
  }
  
  .content img {
    bottom: -450px;
    width: 150%;
  }
  
  .left-content h2 {
    font-size: 1.5rem;
  }
  .left-content h1 {
    font-size: 6rem;
  }
  body {
    overflow: visible;
  }
  .content {
    flex-direction: column;
    align-items: center;
    margin: 50px 3px;
  }
  
  .social-section {
    bottom: -550px;
  }
}